
body {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  letter-spacing: 1.5px;
}

.brcp {
  display: block;
}

.brsp {
  display: none;
}

.txtl {
  font-size: 28px;
  font-weight: 600;
}

.txtm {
    font-size: 20px;
    font-weight: 600;
}

.txts {
    font-size: 16px;
    font-weight: 600;
}

.txtxs {
    font-size: 14px;
    font-weight: 300;
}

h1, h2, h3, h4 {
  margin: 20px 0 10px;
  line-height: 40px;
}

p {
  margin: 0 0 10px;
}

.whitetxt {
  color: #fff;
}

.yellowtxt {
  color: #ebb94d;
}

.whitebrackets::before {
  top: 0;
  left: 0;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
}

.whitebrackets::before, .whitebrackets::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  }

  .whitebrackets::after {
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  }

  .whitebrackets::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}

.whitebrackets {
  margin: 0 auto;
  position: relative;
  width: 860px;
  max-width: calc(100% - 40px);
  padding: 15px 30px;
  box-sizing: border-box;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.container {
  width: 1170px;
}

/* main */

.main {
  background-image: url(../img/main.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  display: table;
}

.cover-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 0 15px;
}

.mainlogo {
  margin-bottom: 20px;
  max-width: 317px;
  max-height: 111px;
}

/* conversion */

.conversion {
  background-color: #ebb94d;;
  color: white;
  text-align: center;
  padding: 30px 0;
}

.conversionbtn {
  box-sizing: border-box;
  max-width: 1028px;
  background-color: rgb(218, 107, 100);
  margin: 45px auto;
  padding: 30px 120px;
  border-radius: 50px;
  cursor: pointer;
}

.conversionbtn:hover {
  background-color: #d84940;
  text-decoration: none;
}

.conversionbtn p {
  margin: 0;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.conversion .txtxs {
  font-size: 150%;
  font-weight: 600;
}

.sns {
  margin-bottom: 10px;
  list-style: none;
}

/* introduction */

.introduction {
  text-align: center;
  padding: 40px 0;
  background-image: url(../img/introbottom.jpg);
  background-position: center;
  background-size: cover;
  height: 587px;
}

.yellowbracketswide {
  padding: 15px 0;
  margin: 0 auto;
  position: relative;
  width: 860px;
  max-width: calc(100% - 40px);
}

.contents {
  padding: 40px 0;
}

.contents p {
  margin-bottom: 2.4rem;
  font-weight: 300;
}

.underline {
  font-weight: bold;
   background: linear-gradient(transparent 70%, #ebb94d 70%);
}

/* about */

.about {
  padding-bottom: 40px;
  text-align: center;
  background-color: #fef5e0;
  position: center;
}

.abouticon {
  position: relative;
  top: -40px;
}

.circle1 {
  color: #fff;
  background-color: #ebb94d;
  padding: 0;
  margin: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
}

.abouttitle {
  padding: 15px 30px;
  margin: 0 auto;
  position: relative;
  width: 860px;
  max-width: calc(100% - 40px);
}

.abouttitle p {
  margin-top: 40px;
}

.aboutbox {
  margin: 30px 20px;
  padding: 30px;
  border: 2px solid rgb(235, 185, 77);
  background-color: #fff;
}

.box {
  padding: 10px;
  display: inline-block;
}

.aboutbox .txts {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 300;
}

/* aboutsecond */

.aboutsecond {
  padding: 40px 0;
  text-align: center;
  color: #fff;
  background-image: url(../img/aboutsecondbg.jpg);
  background-position: center;
  background-size: cover;
}

.aboutsecond h2 {
  margin-bottom: 20px;
}

.yellow_text {
  color: #ebb94d;
}

.aboutsecond .container {
  margin: 30px auto 0;
  padding: 0 15px;
  display: flex;
  justify-content: space-around;
  width: 1170px;
  box-sizing: border-box;
}

.sidebox {
  padding: 30px 30px 20px;
  background-color: #fff;
  border-radius: 5px;
  width: 32%;
  box-sizing: border-box;
}

.step {
  background-color: #ebb94d;
  border-radius: 5px;
}

.sidecontents {
}

.sidecontents p {
  color: black;
}

.sidecontents .txtxs {
    margin: 30px 0 15px;
}

/* aboutthird */

.aboutthird {
  text-align: center;
  background-color: #016ea9;
  color: #fff;
  padding: 40px 0;
}

.learning {
  padding: 40px 0;
  text-align: center;
}

.learning h2 {
  margin-bottom: 35px;
}

.learning .container {
  margin: 40px auto;
  padding: 0;
  width: 860px;
  max-width: calc(100% - 40px);
  box-sizing: border-box;
}

.learningbox {
  padding: 0 15px;
  display: inline-block;
  width: 20%;
}

.learningbox img {
  width: 180px;
  max-width: 100%;
  max-height: 100%;
}

/* merit  */

.merit {
  padding: 40px 0;
  text-align: center;
  background-color: #fef5e0;
  box-sizing: border-box;
}

.yellowbracketsnarrow {
  padding: 15px 30px;
  margin: 0 auto;
  position: relative;
  width: 860px;
  max-width: calc(100% - 40px);
  box-sizing: border-box;
}

.merit .container {
  box-sizing: border-box;
  margin: 40px auto 0;
  padding: 0 15px;
  width: 1170px;
  display: flex;
  justify-content: space-around;
}

.learnbox {
  width: 33%;
  padding: 0 15px;
}

.learnbox img {
  height: 180px;
  width: 375px;
}

.learndetail .txts{
    text-align: left;
    font-weight: 300;
    margin: 8px 0;
  }

.support {
  margin: 40px auto;
  padding: 40px 20px;
  border: 2px solid rgb(235, 185, 77);
  background-color: #fff;
  width: 1170px;
  max-width: calc(100% - 40px);
  border-radius: 5px;
}

.support .txts {
  font-weight: 400;
}

.meritbottom {
  font-weight: 300;
}

/* teacher */

.teacher {
  box-sizing: border-box;
  padding: 40px 0;
  text-align: center;
  background-image: url(../img/teacherbg.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
}

.teacherbox {
  margin: 0 auto;
  padding: 0;
  max-width: 780px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}

.member {
  box-sizing: border-box;
  width: 390px;
  padding-left: 15px;
}

.teacherbox img {
  position: relative;
  bottom: -35px;
  border-radius: 50%;
}

.detail {
  border: 3px solid #fff;
  padding: 40px;
}

.txtleft {
  text-align: left;
}

/* why */

.why {
  position: relative;
  padding: 40px 0;
  text-align: center;
  background-color: #ebb94d;
  color: #fff;
}

.qaicon {
  color: #ebb94d;
  background-color: #fff;
  padding: 0;
  margin: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.whitebrackets {
  position: relative;
  padding: 15px 30px;
  margin: 0 auto;
  width: 860px;
  max-width: calc(100% - 40px);
}

/* answer */

.answer {
  padding: 40px 0;
  text-align: center;
}

.answer .container {
  width: 1170px;
  margin: 0 auto;
}

.clinet {
  font-size: 18px;
  color: #777;
  padding: 20px 0;
  text-align: left;
  display: flex;
  margin-left: 18%;
  width: 64%;
}

.clinet img {
  border: 3px solid rgb(235, 185, 77);
  width: 33.3%;
}

.clinetvoice {
  margin-left: 15px;
  text-align: left;
}

.clinetvoice p {
  margin-top: 15px;
}

.clinetvoice small {
  margin-top: 10px;
  text-decoration: underline;
}

/* class */
 .class {
   padding: 40px 0;
   background-image: url(../img/classbg.jpg);
   background-size: cover;
   background-position: center;
   text-align: center;
   color: #fff;
 }

.classbox {
  max-width: 780px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
}

.classlist {
  border: 2px solid rgb(1, 110, 169);
  width: 50%;
  border-radius: 5px;
  background-color: #fff;
  margin: 0 15px;
  box-sizing: border-vox;
}

.classbox .txtm {
  background-color: #016ea9;
  padding: 15px;
}

.classlist ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.classlist li {
  color: black;
  padding: 10px;
  border-bottom: 1px dotted black;
}

.class ul li:last-child {
    border-bottom: none;
}

/* classbottom */

.classbottom {
  background-color: #016ea9;
  color: #fff;
  padding: 40px 0;
  text-align: center
}

/* flow */

.flow {
  text-align: center;
  padding: 40px 0;
}

.flowimg {
    width: 90%;
    max-width: 100%;
    margin: 40px auto;
}

.flowbox {
  width: 1170px;
  max-width: calc(100% - 40px);
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px 35px;
  background-color: #fef5e0;
  display: flex;
  }

.flowleft {
  /* padding: 20px;
  height: 100%; */
  width: 200px;
  }

.flowleft .txtm {
  font-size: 18px;
  margin-bottom: 0;
  margin: 20px 0;
}

.flowright {
  text-align: left;
}

/* bangkok */

.bangkok {
  background-image: url(../img/bangkokbg.jpg);
  background-position: center;
  background-size: cover;
  padding: 80px;
  color: #fff;
}

.bangkokdetail {
  margin: 0 auto;
  width: 0 auto;
  max-width: calc(100%-40px);
}

.bangkokdetail .txtl {
  margin-bottom: 20px;
}

.bangkoklist {
  margin: 20px 0;
}

/* special */

.special {
  background-position: center calc(100% - -11px);
  background-repeat: no-repeat;
  background-size: 300px auto;
  padding: 40px 0;
  text-align: center;
  background-color: #f7c23c;
}

.special h2 {
  margin-bottom: 40px;
}

.specialpeople {
  position: relative;
}

.specialbox {
  margin: 0 auto;
}

.specialpc {
  margin: 40px auto;
  padding: 40px;
  border: 2px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specialpeople {
  position: relative;
  bottom: -58px;
  background-color: #f7c23c;
  margin: 0 auto;
  width: 45%;
}

.tokuten {
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  background-color: #fff;
  padding: 0;
  margin: 10px;
  text-align: center;
  border-radius: 50%;
}

.tokutenbox {
  box-sizing: border-box;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  height: 250px;
  padding: 15px;
}

.tokutenbox .txtm {
  font-size: 24px;
  font-weight: 300;
}

.tokutenbox .txts {
  font-size: 14px;
}

/* specialdetail */

.specialdetail {
  background-image: url(../img/specialdetail.jpg);
  background-position: center;
  background-size: cover;
  padding: 40px 0;
  text-align: center;
  color: #fff;
}

.specialdetail .txtl {
  margin-bottom: 40px;
}

.specialdetail .txtm {
  margin-bottom: 40px;
}

.specialdetail h2 {
  margin: 20px auto;
}

/* learning */

.mesage-learning {
  text-align: center;
  padding: 40px 0;
}

.mesage-learning .txtl {
  margin-bottom: 30px;
}

.mesage-learning .container {
  max-width: 1028px;
  padding: 0;
  width: 860px;
  max-width: calc(100% - 40px);
  margin: 40px auto;
  display: flex;
}

.mesage-learningbox {
  text-align: left;
  padding: 0 15px;
}

/* contactform */

.contactform {
  padding: 40px 20%;
  text-align: center;
  background-color: #ebb94d;
}

.contactform h2 {
  margin: 20px 0;
}

form {
    width: 100%;
    text-align: center;
}

input, textarea {
  width: 100%;
  height: 55px;
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

#submitbtn{
  width: 100%;
  height: 55px;
  margin: 10px auto;
  padding: 10px 80px;
  background-color: #da6b64;
  color: #fff;
  border-radius: 50px;
  font-size: 23px;
  font-weight: 600;
  border: none;
  display: block;
}

/* questions */

.questions {
  padding: 40px 10%;
  text-align: center;
}

.questions h2 {
  margin-bottom: 40px;
}

.questionslist {
  width: 1170px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
  text-align: left;
}

.panel-group {
  margin-bottom: 20px;
}

.panel {
  margin-bottom: 0;
  border-radius: 4px;
  border: none;
}

.panel-heading {
  padding: 20px 20px;
  background-color: #fff;
  color: #000000;
  border: 1px solid #e5e5e5;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.questionstoggle a:after {
  content: "\e113";
  float: right;
  color: #e5e5e5;
}

.panel-title a {
  cursor: pointer;
}

.questionslist h4 a i {
  display: inline-block;
}

.panel-body {
  border: none;
  background-color: #fff;
  padding: 20px;
}



/* footer */

.footerwarp {
  position: relative;
  padding: 40px 15px 20px;
  background-color: #ececec;
  text-align: center;
}

.copyright {
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: 5px;
}
